<nav class="navbar navbar-inverse">
  <div class="navbar-header">
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" routerLink="/activity"><img _ngcontent-c3="" alt="LOGO" class="navLogo" src="assets/images/logo.png" style="position: relative;margin-left: 40%;width: 84px;height: 56px;"></a>
  </div>
  <div class="collapse navbar-collapse js-navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a routerLink="/activity" class="homelink"><img src="assets/images/home.png" alt="user"></a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><img src="assets/images/user-nav1.PNG" alt="user" style="margin-top: 2px;"></a>
        <ul class="dropdown-menu" role="menu">
          <li class="userProfileDropdown">
            <a routerLink="/activity"><img src="assets/imgs/imgs/Profile-Icon.png" alt="profile" class="dropdownProfileIcon"><span class="navUserName">Preetham Pandey</span><span class="navEmailId">preethampandey@gmail.com</span></a>
          </li>

          <li><a routerLink="/settings">Settings <img src="assets/imgs/imgs/Settings.png" alt="settings" class="dropdownListImg"></a>
          </li>
          <li class="divider"></li>
          <li><a routerLink="#">Logout <img src="assets/imgs/imgs/Log-Out.png" alt="Logout" class="dropdownListImg"></a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

</nav>
