<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="Activity-Home-Page">
  <div class="row activityRow">
    <div class="col-sm-9 rightsideBigBar">
      <div class="allThreeButtons text-center">
          <a  routerLinkActive="active" class="topButtons noRightBorder" routerLink="/activity">Activity</a><a class="topButtons" routerLink="/precases">PRE cases</a>

        <h5 class="breadCum"><a routerLink="/dashboard">Home</a> / <a routerLink="/activity">Activity</a></h5>
      </div>
      <div class="mainChangedDiv">
        <div class="viewerDiv">
          <div class="row">
            <div class="table-width">
              <div class="date-table">
                <p>2017</p>
                <div class="col-md-3 table-border">
                  <img class="lineBorderDate" style="" src="assets/imgs/imgs/Line.png">
                  <span>Date</span>
                </div>
              </div>
              <div class="col-md-3 table-border">Save Lead</div>
              <div class="col-md-3 table-border">Collaterals</div>
              <div class="col-md-3 table-border">Get Quote</div>
            </div>
          </div>
          <div class="row">
            <div class="table-width">
              <div class="date-table">
                <div class="mtop40">
                  <p>OCT</p>
                  <div class="col-md-3 table-border">
                    <img class="lineBorder" src="assets/imgs/imgs/Line.png">
                    <span>22 <br> 44</span>
                  </div>
                </div>
              </div>
              <div class="col-md-3 table-border">
                <span>21 <br> 22</span>
              </div>
              <div class="col-md-3 table-border">
                <span>21 <br> 22</span>
              </div>
              <div class="col-md-3 table-border">
                <span>21 <br> 22</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="table-width">
              <div class="mtop40">
                <div class="date-table">
                  <p>SEP</p>
                  <div class="col-md-3 table-border">
                    <img class="lineBorder" src="assets/imgs/imgs/Line.png">
                    <span>22 <br> 44</span>
                  </div>
                </div>
              </div>
              <div class="col-md-3 table-border">
                <span>21 <br> 22</span>
              </div>
              <div class="col-md-3 table-border">
                <span>21 <br> 22</span>
              </div>
              <div class="col-md-3 table-border">
                <span>21 <br> 22</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="table-width">
              <div class="mtop40">
                <div class="date-table">
                  <p>AUG</p>
                  <div class="col-md-3 table-border">
                    <img class="lineBorder" src="assets/imgs/imgs/Line.png">
                    <span>22 <br> 44</span>
                  </div>
                </div>
              </div>
              <div class="col-md-3 table-border">
                <span>21 <br> 22</span>
              </div>
              <div class="col-md-3 table-border">
                <span>21 <br> 22</span>
              </div>
              <div class="col-md-3 table-border">
                <span>21 <br> 22</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="table-width">
              <div class="mtop40">
                <div class="date-table">
                  <p>JULY</p>
                  <div class="col-md-3 table-border">
                    <img class="lineBorder" src="assets/imgs/imgs/Line.png">
                    <span>22 <br> 44</span>
                  </div>
                </div>
              </div>
              <div class="col-md-3 table-border">
                <span>21 <br> 22</span>
              </div>
              <div class="col-md-3 table-border">
                <span>21 <br> 22</span>
              </div>
              <div class="col-md-3 table-border">
                <span>21 <br> 22</span>
              </div>
            </div>
          </div>
          <div class="loader"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
