<div class="bg-Image">
  <section class="formPannel">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="col-md-5 col-37 login-form pull-right">
            <div class="panel panel-info ">
              <div class="panel-heading text-center">
                <img src="assets/images/Camera.png">
                <div class="panel-title">LOGIN</div>
              </div>
              <div class="panel-body">
                <form id="loginform" class="form-horizontal" role="form">
                  <div class="input-group">
                    <span class="input-group-addon"><img src="assets/images/Receiver.png"></span>
                    <input id="mobile_number_index" type="tel" class="form-control" name="mobile_number_index"  placeholder="Mobile Number" required>
                  </div>
                  <h5 class="text-center">OR</h5>
                  <div class="input-group mbottom">
                    <span class="input-group-addon"><img src="assets/images/mail.png"></span>
                    <input id="login_email_index" type="email" class="form-control" name="emailID_index" placeholder="Email ID" required>
                  </div>
                  <div class="input-group mbottom">
                    <span class="input-group-addon"><img src="assets/images/PW.png"></span>
                    <input id="login_password_index" type="password" class="form-control" name="password_index" placeholder="Password" required>
                    <span class="input-group-addon"></span>
                  </div>
                  <div class="form-group mtop">
                    <div class="col-md-12 controls">
                      <button class="btn btn-login"  [routerLink]="['/dashboard']">LOGIN</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
