<div class="col-sm-3 leftSideUser">
  <div class="userInfo">
    <img src="assets/images/user1.PNG" alt="user Image" class="userImage">
    <h3 class="userName">Preetham Pandey</h3>
    <span class="userNumber">+91-9934567561</span><br>
    <span class="userMail userMail2">preethampandey@gmail.com</span>
  </div>
  <div class="userRate">
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-6 mobHalfspace">
            <a routerLink="/NewUser"><img src="assets/images/user2.PNG" alt="user" class="smallIcons"></a>
            <span class="smallDivText">New</span>
          </div>
          <div class="col-sm-6 mobHalfspace">
            <a routerLink="/existing"><span class="sameImgText">40</span>
              <span class="smallDivText existingText">Existing</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="userSetting">
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-6 mobHalfspace">
            <a routerLink="/viewPre"><img src="assets/images/View-Pre.png" alt="setting 1" class="smallIcons">
              <span class="smallDivText">View PRE</span></a>
          </div>
          <div class="col-sm-6 mobHalfspace">
            <a routerLink="/settings"><img src="assets/images/Settings.png" alt="setting 2" class="smallIcons">
              <span class="smallDivText">Settings</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
