<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="pdf-viewer">

  <div class="row activityRow">

    <div class="col-sm-9 rightsideBigBar">
      <div class="allThreeButtons text-center">
        <a  routerLinkActive="active" class="topButtons noRightBorder" routerLink="/activity">Activity</a><a class="topButtons" routerLink="/precases">PRE cases</a>

        <h5 class="breadCum"><a routerLink="/dashboard">Home</a> / <a routerLink="/PdfViewer">PDF Viewer</a></h5>
      </div>
      <div class="mainChangedDiv">
        <h2 class="mainHeading">PDF Viewer</h2>
        <div class="viewerDiv">
          <img src="assets/images/pdfMock.PNG" alt="pdf" class="mainPdf">
          <span class="downIcons">
                  <a href="#">
                    <img src="assets/imgs/imgs/Download.png" alt="download" class="imgIcon">
                  </a>
                  <a href="#">
                    <img src="assets/imgs/imgs/Share.png" alt="share" class="imgIcon">
                  </a>
                </span>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
