<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="Quote-details">

  <div class="row activityRow">

    <div class="col-sm-9 rightsideBigBar">
      <div class="allThreeButtons text-center">
        <a  routerLinkActive="active" class="topButtons noRightBorder" routerLink="/activity">Activity</a><a class="topButtons" routerLink="/precases">PRE cases</a>

        <h5 class="breadCum"><a routerLink="/dashboard">Home</a> / <a routerLink="/quoteDetails">Quote Details</a></h5>
      </div>
      <div class="mainChangedDiv">
        <h2 class="mainHeading">Quote Details</h2>
        <div class="viewerDiv">
          <img src="assets/images/pdfMock.PNG" alt="pdf" class="mainPdf">
          <span class="downIcons">
            <span class="generateSpan"><a routerLink="/PdfViewer" class="generatePdf"><img src="assets/imgs/imgs/PDF.png" class="generatePdfImg"> GENERATE PDF</a></span>
              <span class="redirectSpan"><a routerLink="#" class="redirectToRapid">REDIRECT TO RAPID <img src="assets/imgs/imgs/Rapid-Arrow.png" class="redirectImg"></a></span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
