.activityRow {
  margin: 0px !important;
}
.leftSideUser {
  padding: 20px;
  text-align: center;
}
.userInfo {
  padding: 6em 0px;
  border-bottom: 2px solid #00386b;
  background-color: #fefefe;
}
img.userImage {
  border-radius: 50%;
  border: 2px solid #00386a;
}
h3.userName {
  text-transform: capitalize;
  font-variant: small-caps;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 0px;
}
span.userNumber {
  color: #818181;
  font-size: 20px;
  font-weight: lighter !important;
}
span.userMail {
  color: #818181;
  font-size: 20px;
  font-weight: lighter !important;
}
.userRate,
.userSetting {
  margin-top: 2em;
  background-color: #fefefe;
  border-bottom: 2px solid #00386b;
  padding: 2em 0px;
  text-align: center;
}
img.smallIcons {
  display: block;
  margin: 0px auto;
}
span.smallDivText {
  color: #003969;
  font-size: 14px;
}
span.sameImgText {
  display: block;
  width: 70%;
  font-size: 4.2em;
  border-radius: 50%;
  border: 3px solid #00386b;
  color: #00386b;
  margin: 0px auto;
}
span.smallDivText.existingText {
  display: block;
  margin-top: 7px;
}
.col-sm-9.rightsideBigBar {
  padding: 20px 0px;
  padding-right: 20px;
}
a.topButtons {
  background-color: #fefefe;
  padding: 7px;
  width: 15em;
  display: inline-block;
  border: 2px solid #81cee5;
  text-align: center;
  color: #4c9fc3;
  font-size: 16px;
  text-shadow: 1px 1px 2px #82cee5;
  text-decoration: none !important;
}
.noRightBorder {
  border-right: 0px !important;
}
.mainChangedDiv {
  background-color: #fefefe;
}
h2.mainHeading {
  color: #fff;
  background-color: #e74f5b;
  text-align: center;
  padding: 10px;
  font-size: 17px;
}
.viewerDiv {
  text-align: center;
  padding: 1.5em 0px;
}
span.downIcons {
  display: block;
  padding: 20px 0px 0px 0px;
}
img.imgIcon {
  margin: 0px 30px;
}
a.generatePdf {
  display: inline-block;
  padding: 10px 20px;
  background-color: #df2025;
  color: #fff;
  text-decoration: none !important;
  font-size: 18px;
  letter-spacing: 1px;
}
.generatePdfImg {
  width: 25%;
}
a.redirectToRapid {
  display: inline-block;
  background-color: #29ace4;
  color: #fff !important;
  text-decoration: none !important;
  padding: 15px 20px;
  font-size: 18px;
}
a.dropdown-toggle,
.homelink {
  padding: 7px !important;
}
li.dropdown:focus {
  outline: none !important;
}
ul.dropdown-menu {
  box-shadow: 2px 2px #666666;
  border-radius: 0px !important;
  background-color: #fefefe;
  text-align: right;
  padding: 10px;
  padding-top: 0px;
  min-width: 230px;
}
img.dropdownListImg {
  margin-left: 10px;
  width: 10%;
}
ul.dropdown-menu li a {
  color: #003869;
}
.dropdown-menu .divider {
  background-color: #f0f0f0 !important;
}
img.dropdownProfileIcon {
  width: 22%;
  float: right;
  margin: 0px 5px;
}
span.navUserName {
  text-transform: capitalize;
  font-variant: small-caps;
  display: block;
  line-height: 25px;
  text-align: right;
  font-weight: bold;
  font-size: 18px;
}
span.navEmailId {
  font-size: 11px;
  line-height: 7px !important;
  display: block;
  color: #959595;
}
li.userProfileDropdown {
  width: 109%;
  background-color: #f3f3f3;
  display: inline-block;
  padding: 8px 0px;
  margin-left: -10px;
  margin-bottom: 9px;
}
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
  background-color: transparent !important;
  background-image: none;
}
/*get-quote*/
li.active a {
  background-color: #29ace4 !important;
  color: #fff !important;
}
ul.nav.nav-pills li:first-child {
  margin-left: 12.5%;
  border-right: 0px;
}
ul.nav.nav-pills li {
  width: 25%;
  border-radius: 0px !important;
  border: 2px solid #81cee5;
  margin-left: 0px;
}
ul.nav.nav-pills li a {
  border-radius: 0px;
  color: #4c9fc3;
}
h1.getQuoteHeading {
  font-size: 28px;
  color: #123859;
}
span.coloredText {
  color: #e2612f;
}
label.formLabels {
  display: block;
  color: #0e324f !important;
  font-size: 20px;
  font-weight: lighter;
  text-align: left;
}
input.formInput {
  border: none;
  border-bottom: 1px solid #808080;
  color: #e22c32;
  font-size: 22px;
}
.row.getQuoteFormRow {
  margin: 3em 0px;
}
span.dearText {
  display: block;
  text-transform: uppercase;
  color: #bd0d1a;
  font-size: 24px;
}
span.premiumIs {
  color: #153251;
  display: block;
  font-size: 21px;
  font-weight: lighter;
}
span.amount {
  color: #01315a;
  font-size: 36px;
}
a.btn.getQuoteBtn {
  background-color: #29ace4;
  color: #fff;
  border-radius: 0px;
  text-transform: uppercase;
  padding: 0.5em 2em;
  font-size: 18px;
}
.getQuoteBtnDiv {
  padding: 2em 0px;
  padding-bottom: 7em;
}
.row.getQuoteFormRow .col-sm-6:first-child {
  margin-left: 20%;
}
.form6Col {
  width: 30% !important;
}
/*Recommended*/
img.greyCard {
  width: 80%;
}
div#home {
  margin: 10em 0px 5em 0px;
}
.rightColDemographics {
  text-align: left !important;
}
.col-sm-6.leftColDemographics {
  width: 40%;
  margin-left: 10%;
  background-color: #e86f16;
  height: 212px;
  border-radius: 20px;
  color: #fff;
  padding: 15px;
}
img.greyCard {
  height: 212px;
}
span.newLine {
  display: block;
  line-height: 35px;
}
span.yellowText {
  color: #ffc31d;
}
.row.iconsDownLists {
  margin-top: 5em;
}
img.liconsDownListItems {
  width: 10%;
  margin: 0em 1em;
  cursor: pointer;
}
span.buyNowHeadText {
  color: #0e2f49 !important;
  font-size: 20px !important;
}
div#menu1 {
  padding: 5.5em 0em;
}
img.personalisedPitchImg {
  width: 375px !important;
  height: 167px !important;
}
.row.personalisedRow {
  margin-top: 5em;
}
img#pitchImg {
  border: 2px solid #18193b;
}
div#menu2 {
  padding: 4.5em 0em;
}
.row.productsRow .col-sm-6.productsCol:first-child {
  margin-left: 10% !important;
}
.col-sm-6.productsCol {
  width: 40%;
}
.row.productsRow {
  margin-top: 3em;
}
.productTextBox {
  padding: 20px;
  border-radius: 10px;
}
div#redProduct {
  background-color: #d8261c;
}
div#blueProduct {
  background-color: #074e82;
}
h1.headingLeft {
  text-align: left;
  font-size: 28px;
  color: #fff;
}
form.productCheckBox {
  position: absolute;
  top: 25px;
  right: 25px;
}
p.productText {
  color: #fff;
  font-size: 17px;
  font-weight: lighter !important;
  margin-top: 20px !important;
  letter-spacing: 1px;
  text-align: justify;
  padding: 10px;
}
/*checkbox customization*/
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
}
.checkmark.mark1 {
  background-color: #d8261c;
  border: 2px solid #fefefe;
}
.checkmark.mark2 {
  background-color: #074e82;
  border: 2px solid #fefefe;
}

/* On mouse-over, add a grey background color */
.newContainer1:hover input~.checkmark {
  background-color: #d8261c;
}
.newContainer2:hover input~.checkmark {
  background-color: #074e82;
}

/* When the checkbox is checked, add a blue background */
.newContainer.newContainer1 input:checked~.checkmark {
  background-color: #d8261c;
  color: #fff;
  border: 2px solid #fefefe;
}
.newContainer.newContainer2 input:checked~.checkmark {
  background-color: #074e82;
  color: #fff;
  border: 2px solid #fefefe;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.newContainer input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.newContainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
label.newContainer {
  position: relative;
  right: 20px;
  top: 20px;
}
/*checkbox customization*/
.personalisePitchNoBorder {
  border-right: 0px solid #81cee5 !important;
}

.modal-footer .continueBtnModal {
  background-color: #0093e0 !important;
  border-color: #0093e0;
}
.modal-footer .closeBtnModal {
  background-color: red !important;
  border-color: red;
}
.shareModal,
.shareModal2,
.shareModal3 {
  display: none;
  position: absolute;
  top: 0px;
  width: 100%;
  background-color: #0000006e;
  padding: 44.5% 0%;
}

.innerPartModal,
.innerPartModal2,
.innerPartModal3 {
  /*margin: 0px auto;*/

  text-align: center;
  border-radius: 5px;


}

.innerPartModal,
.innerPartModal2,
.innerPartModal3 {
  position: relative;
  background: #fefefe;
  border: 0px solid #fff;
}

.innerPartModal:after,
.innerPartModal:before,
.innerPartModal2:after,
.innerPartModal2:before,
.innerPartModal3:after,
.innerPartModal3:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.innerPartModal:after,
.innerPartModal2:after,
.innerPartModal3:after {
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #fefefe;
  border-width: 20px;
  margin-left: -30px;
}

.innerPartModal:before,
.innerPartModal2:before,
.innerPartModal3:before {
  border-color: rgba(194, 225, 245, 0);
  border-top-color: transparent;
  border-width: 36px;
  margin-left: -36px;
}

span.closeModal,
span.closeModal2,
span.closeModal3 {
  position: absolute;
  color: #fff;
  right: -10px;
  top: -10px;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  padding: 0px 5px;
  background-color: red;
  border-radius: 50%;
}
span.userMail {
  font-size: 16px !important;
}

span.userNumber {
  font-size: 18px !important;
}

.breadCum{
  float: right;
  margin-top: 35px;
  color: #818181;
}
.breadCum a{
  color: #818181;
}


.modal-header {
  padding: 6px;
  border-bottom: 1px solid #e5e5e5;
}
.spaceImage{
  margin: 3px 3px;
}

.modal-body {
  position: relative;
  padding: 0px;
}

.modal-content {
  width: 380px;
}

.modal-dialog{
  position: absolute;
  margin: 0 auto;
  left: 20%;
  right: 0;
  top: 40%;
}


/*media queries */
@media only screen and (max-width: 1366px){

img.personalisedPitchImg1{
  float: right;
   width: 266px !important;
  height: 167px !important;
}
img.personalisedPitchImg2{
  float:left;
   width: 266px !important;
  height: 167px !important;
}
}
@media only screen and (max-width: 1280px){

img.personalisedPitchImg1{
  float: right;
   width: 266px !important;
  height: 167px !important;
}
img.personalisedPitchImg2{
  float:left;
   width: 266px !important;
  height: 167px !important;
}
}
@media only screen and (max-width: 1024px){
.pillInDemo{
  font-size: 13px;

}
span.newLine {
  display: block;
  line-height: 25px;
  font-size: 12px;
}
.newLine{
  line-height: 25px;
}

img.personalisedPitchImg {
  width: 266px;
  height: 167px;
}

img.personalisedPitchImg1{
  float: right;
   width: 266px !important;
  height: 167px !important;
}
img.personalisedPitchImg2{
  float:left;
   width: 266px !important;
  height: 167px !important;
}

}
@media only screen and (max-width: 800px){
.pillInDemo{
  font-size: 12px;

}
.leftColDemographics{
  height: 248px
}

.col-sm-6.leftColDemographics {
  height: 248px;
}
.textLeft{
  float: left
}
span.buyNowHeadText {
  color: #0e2f49 !important;
  font-size: 18px !important;
}
span.newLine {
  display: block;
  line-height: 25px;
  font-size: 12px;
}
.newLine{
  line-height: 25px;
  text-align: left;
}
img.greyCard {
  height: 248px;
}
img.personalisedPitchImg {
  width: 208px !important;
  height: 167px !important;
}
}
@media only screen and (max-width: 600px){
.pillInDemo{
  font-size: 12px;

}
span.newLine {
  display: block;
  line-height: 25px;
  font-size: 12px;
}
.newLine{
  line-height: 25px;
}
}