<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="recommended_main">

  <div class="row activityRow">

    <div class="col-sm-9 rightsideBigBar">
      <div class="allThreeButtons text-center">

          <a  routerLinkActive="active" class="topButtons noRightBorder" routerLink="/activity">Activity</a><a class="topButtons" routerLink="/precases">PRE cases</a>

        <h5 class="breadCum"><a routerLink="/dashboard">Home</a> / <a routerLink="/recommended">Recommended</a></h5>
      </div>
      <div class="mainChangedDiv">
        <h2 class="mainHeading">Recommended</h2>
        <div class="viewerDiv">
          <div class="col-md-12">
            <a routerLink="/Demographics">
              <div class="blue-Image">
                <div class="innerText">
                  <h5>DEMOGRAPHICS</h5>
                  <ul>
                    <li>Profile Info</li>
                    <li>Questionnaire...</li>
                  </ul>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-12 mtop30">
            <a routerLink="/Pitch">
              <div class="red-Image">
                <div class="innerText">
                  <h5>PITCH</h5>
                  <ul>
                    <li>Image</li>
                    <li>Video...</li>
                  </ul>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-12 mtop30">
            <a routerLink="/Products">
              <div class="orange-Image">
                <div class="innerText">
                  <h5>PRODUCTS</h5>
                  <ul>
                    <li>Saving Plan</li>
                    <li>Child Plan</li>
                  </ul>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
