<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="addNew settingPage">
  <div class="row activityRow">
    <div class="col-sm-9 rightsideBigBar">
      <div class="allThreeButtons text-center">

          <a  routerLinkActive="active" class="topButtons noRightBorder" routerLink="/activity">Activity</a><a class="topButtons" routerLink="/precases">PRE cases</a>

        <h5 class="breadCum"><a routerLink="/dashboard">Home</a> / <a routerLink="/settings">Settings</a></h5>
      </div>
      <div class="mainChangedDiv">
        <h2 class="mainHeading">Edit Profile</h2>
        <div class="viewerDiv">
          <div class="col-md-12 text-center changeImage">
            <img src="assets/images/user1.PNG">
            <div class="editProfile">
              <input type="file" id="input_File_To_change_img" style="display:none" />
              <span class="glyphicon glyphicon-pencil" style="cursor: pointer;"></span>
            </div>
          </div>
          <form name="buy-now-form">
            <div class="row buyNowFormRow">
              <div class="col-sm-6 form6Col">
                <input type="text" id="fname" placeholder="First Name" class="form-control formInput">
              </div>
              <div class="col-sm-6 form6Col">
                <input type="text" id="Lname" placeholder="Last Name" class="form-control formInput">
              </div>
            </div>
            <div class="row buyNowFormRow">
              <div class="col-sm-6 form6Col">
                <input type="text" id="email" placeholder="Email" class="form-control formInput">
              </div>
              <div class="col-sm-6 form6Col">
                <input type="text" id="mobile" placeholder="Mobile" class="form-control formInput">
              </div>
            </div>
            <div class="row buyNowFormRow">
              <div class="col-sm-6 form6Col">
                <input type="text" id="Cpwd" placeholder="New Password" class="form-control formInput">
              </div>
              <div class="col-sm-6 form6Col">
                <input type="text" id="cpwd" placeholder="Confirm Password" class="form-control formInput">
              </div>
            </div>
            <div class="row submitBTN">
              <div class="col-sm-12 text-center mbottom35">
                <a href="#">
                  <button type="button" class="btn btn-info" id="buyNowSubmitBtn">Submit</button>
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
